<h1>Make your form here</h1>
<form class="" action="/pirates" method="post">
<p>Name<input type="text" name="pirate[name]" value=""></p>
<p>Weight<input type="text" name="pirate[weight]" value=""></p>
<p>Height<input type="text" name="pirate[height]" value=""></p>

<p>ship_name_1<input type="text" name="ship_name_1" value=""></p>
<p>Ship type<input type="text" name="ship_type_1" value=""></p>
<p>Ship booty<input type="text" name="ship_booty_1" value=""></p>
<!-- <p>ship_name_1<input type="text" name="pirate[ships][][name]" value="ship_name_1"></p>
<p>Ship type<input type="text" name="pirate[ships][][type]" value=""></p>
<p>Ship booty<input type="text" name="pirate[ships][][booty]" value=""></p> -->

<!-- <p>Ship2 name<input type="text" name="pirate[ships][][name]" value=""></p>
<p>Ship2 type<input type="text" name="pirate[ships][][type]" value=""></p>
<p>Ship2 booty<input type="text" name="pirate[ships][][booty]" value=""></p> -->
<p>Ship2 name<input type="text" name="ship_name_2" value=""></p>
<p>Ship2 type<input type="text" name="ship_type_2" value=""></p>
<p>Ship2 booty<input type="text" name="ship_booty_2" value=""></p>



<p>Submit<input type="submit" name="submit" value="Submit"></p>

</form>
